<%= render partial: "my_navbar" %>

<div class="main">
  <div></div>
  <div style="display: flex; flex-direction:column; justify-content: space-around">
    <h3 style="color:#f8f8f2; text-align:center; margin-top: 50px"><%= @cocktail.name %> </h3>
    <%= cl_image_tag @cocktail.photo.key, height: 300, width: 400, crop: :fill %>

    <p style="margin-top: 20px"><%=link_to "Add Dose", new_cocktail_dose_path(@cocktail), class: "btn btn-outline-success my-2 my-sm-0" %></p>
     <% @cocktail.doses.each do |dose| %>
          <li style="color:white">
            <%= dose.description %> | <%= dose.ingredient["name"] %> 
            <%= link_to dose_path(dose), method: :delete, data: { confirm: "Delete this dose?" } do %>
            <i class="fas fa-trash-alt"></i>
            <% end %>
          </li>
    <% end %>
  </div>
</div>

